:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}
body {
    background-color: var(--stone-100);
    font-family: 'Outfit', sans-serif;
    color: var(--stone-600);
    display: flex;
    justify-content: center;
    padding-block: clamp(2rem, 5vw, 3rem); 
}

.recipe {
    background-color: var(--white);
    max-width: 46rem;
    padding: clamp(1.5rem, 5vw, 2.5rem);
    border-radius: 1.5rem;    
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}
.recipe-header img {
    width: 100%;
    display: block;
    height: auto; 
    border-radius: 0.75rem; 
    margin-block-end: clamp(1rem, 5vw, 2rem); 
    gap: 1rem;
}

.preparation {
    margin-inline-start: clamp(1rem, 5vw, 2rem);
    background-color: var(--rose-50);
    padding: clamp(1rem, 5vw, 2rem);
    border-radius: 1rem;
    padding-inline-start: clamp(1rem, 5vw, 2rem);
    color: var(--rose-800);
    font-family: 'Outfit', sans-serif;
    font-size: clamp(1rem, 5vw, 1.25rem);
}

h1 {
    font-family: 'Young Serif', serif;
    color: var(--stone-900);
    font-size: clamp(2rem, 6vw, 2.5rem);
    margin-block-end: clamp(1rem, 5vw, 2rem);
}

h2 {
    font-family: 'Young Serif', serif;
    color: var(--brown-800);
    margin-block-end: clamp(1rem, 5vw, 2rem);
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding-block: calc(.75rem * 1.25);
    border-bottom: 1px solid var(--stone-150);
}

td:last-child {
    color: var(--brown-800);
    font-weight: 700;
}

tr:last-child td {
    border-bottom: none;
}
li::marker {
    color: var(--brown-800);
    font-weight: 700;
}

li {
    padding-inline-start: clamp(1rem, 5vw, 2rem);
}
.recipe ul, 
.recipe ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding-inline-start: clamp(1rem, 5vw, 2rem);
}
